* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #f1f1f1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, #0c091f, #000000);
}

.container {
    background-color: #38383825;
    border-radius: 10px;
    border: solid 1px #474747;
    height: 260px;
    width: 400px;
    padding: 70px;
    transition: 0.2s;
}

.container.active {
    height: 500px;
}

#qr-header {
    text-align: center;
}

#qr-header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#qr-header p {
    font-size: 0.9rem;
}

#qr-form {
    margin: 20px 15px;
}

#qr-form input, #qr-form button {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #000000;
}

#qr-form input {
    width: 92%;
    padding: 5px 15px;
    margin-bottom: 10px;
}

#qr-form button {
    background-color: #0c091f;
    border: 1px solid #201852;
    color: #f1f1f1;
    cursor: pointer;
    transform: 0.4s;
    opacity: 0.8;
}
#qr-form button:hover {
    opacity: 1;
}
#qr-form button:active {
    background-color: #f1f1f1;
    color: #201852;
}

#qr-code {
    display: flex;
    opacity: 0;
    border: 1px solid #474747;
    border-radius: 10px;
    padding: 30px 0;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.container.active #qr-code {
    opacity: 1;
}
